body {
    font-family: Arial, sans-serif;
  }
  
  #weather-container .card {
    flex: 1 0 15%; /* This will make the cards take up 15% of the row's width */
    margin: 0.5em;
    background-color: #504d4d;
    color: #fff;
  } 
  
  li:hover {
    cursor: pointer;
  }

  @media (max-width: 992px) {
    #weather-container .card {
      flex: 1 0 45%; /* This will make the cards take up 45% of the row's width */
    }
  }